.box-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}
    
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: clamp(12px, 2vw, 16px);
  cursor: pointer;
  color: #FFF;

  align-items: center;
}

.links a {
  transition: 0.3s;
}

.links a:hover {
  color: #f28e13;
}

.user-menu {
  position: relative;
  cursor: pointer;
  white-space: nowrap; /* 🔥 impede quebrar linha */
}

.user-menu a {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 24px;
  right: 0;

  color:#fff;

  font-size: 16px;

  border-radius: 6px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  min-width: 160px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.dropdown a {
  cursor: pointer;
}

.dropdown .user-menu a:hover {
  color: #f28e13;
}

.midias {
    display: flex;  
    gap: 20px;
    cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .box-header {
    flex-direction: column;
    align-items: center;
    gap: 16px; 
  }

  .links {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .midias {
    justify-content: center;
    margin-top: 8px;
  }

}


