.box-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    
    .links {
        height: 20px;
        display: flex; 
        gap: 15px;
        cursor: pointer; 
        color: #FFF;   
    }

    .midias {
        display: flex;  
        gap: 20px;
        cursor: pointer;
    }
}

