.box-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}
    
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: clamp(12px, 2vw, 16px);
  cursor: pointer;
  color: #FFF;

  align-items: center;
}

.links a {
  transition: 0.3s;
}

.links a:hover {
  color: #f28e13;
}

.user-menu {
  position: relative;
  cursor: pointer;
  white-space: nowrap; /* 🔥 impede quebrar linha */
}

.user-menu a {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.user-menu a:hover {
   color: #f28e13;
}

.dropdown {
  position: absolute;
  top: 28px;
  right: 0;

  background: rgba(0, 0, 0, 0.85); /* fundo escuro elegante */
  backdrop-filter: blur(6px);      /* efeito premium */

  color: #fff;
  font-size: 14px;

  border-radius: 8px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  min-width: 160px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  z-index: 999; /* ESSENCIAL */
}

.dropdown a {
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

.dropdown a:hover {
  background: rgba(255,255,255,0.1);
  color: #f28e13;
}

.midias {
    display: flex;  
    gap: 20px;
    cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .box-header {
    flex-direction: column;
    align-items: center;
    gap: 16px; 
  }

  .links {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown {
    position: static; /* muda de absolute para fluxo normal */

    width: 100%;
    max-width: 220px;

    margin-top: 8px;

    align-items: center;
  }

  .midias {
    justify-content: center;
    margin-top: 8px;
  }

}


