app-card-room {
  display: block;
  height: 100%;
}

.box-container {
  width: 100%;
}

.rooms-container {
  display: grid;
  gap: clamp(16px, 3vw, 30px);
  padding: 2rem 10vw 0 10vw;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .rooms-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .rooms-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1201px) {
  .rooms-container {
    grid-template-columns: repeat(3, 1fr);
  }
}