app-card-room {
  display: block;
  height: 100%;
}

.box-container {
  width: 100%;
}

.rooms-container {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: clamp(16px, 3vw, 30px);
  justify-items: stretch; // 👈 centraliza os cards
  padding: 2rem 10vw 0 10vw;
}