<div class="container">
    <section class="booking-hero">
        <app-header></app-header>

        <div class="booking-title">
        <img src="/images/booking.svg" alt="Booking">
            <div class="menu">
                <span routerLink="/">Home</span>
                <span>/</span>
                <span routerLink="/booking">Booking</span>
            </div>
        </div>
    </section>

    <section class="booking-content">
        <div class="booking-card">

            <!-- IMAGEM -->
            <div 
            class="booking-card__image"
            style="background-image: url('images/family-room-1.svg')">
            </div>

            <!-- CONTEÚDO -->
            <div class="booking-card__info">

                <div class="booking-card__header">
                    <h3>Room</h3>
                </div>

                <div *ngIf="booking; else noBooking">

                    <!-- INFO -->
                    <div class="booking-info">
                        <p>Check-in: {{ booking.checkIn | date }}</p>
                        <p>Check-out: {{ booking.checkOut | date }}</p>
                        <p>Adults: {{ booking.adults }}</p>
                        <p>Children: {{ booking.children }}</p>
                    </div>

                    <!-- ROOMS -->
                    <div class="rooms">
                        <div 
                        class="room-card"
                        *ngFor="let room of rooms"
                        (click)="selectRoom(room.id)"
                        [class.active]="selectedRoomId === room.id"
                        >
                            <h3>{{ room.name }}</h3>
                            <p>${{ room.pricePerNight }}.00 / night</p>
                        </div>
                    </div>

                    <!-- TOTAL -->
                    <div class="total" *ngIf="total > 0">
                        <h3>Total: ${{ total }}.00</h3>
                    </div>

                    <!-- CONFIRM -->               
                    <button 
                        class="btn-primary" 
                        (click)="confirmBooking()"
                        [disabled]="!selectedRoomId"
                    >
                        Confirm Booking
                    </button>
                </div>
                <ng-template #noBooking>
                    <p class="message">No booking found.</p>
                </ng-template>
            </div>
        </div>
    </section>

    <app-footer></app-footer>  
</div>
