.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .box-background-rooms {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 160px;
        background-image: url('./../../../../public/images/sky.svg');
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;
        position: relative;

        .our-rooms{
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            img{
                width: 179;
                height: 24;
                angle: 0 deg;
                opacity: 1;
                top: 134px;
                left: 631px;

            }
        }
    }
}