.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* HERO ROOMS */
.rooms-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 160px;
  background-color: white;

  background-image: url('/images/sky.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
  position: relative;
}

/* TITLE */
.rooms-title {
  margin-top: clamp(220px, 20vh, 240px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-title img {
  width: clamp(140px, 20vw, 180px);
  height: auto;
}
