<div class="container">
    <section class="services-hero">
        <app-header></app-header>

        <div class="services-title">
        <img src="/images/services.svg" alt="Services">
            <div class="menu">
                <span routerLink="/">Home</span>
                <span>/</span>
                <span routerLink="/services">Services</span>
            </div>
        </div>
    </section>

    <section class="services-section">
        <!-- BLOCO 1 -->
        <div class="service-row">
            <div class="service-image">
                <img src="images/service-1.svg" alt="Services">
            </div>

            <div class="service-content">
                <h2>Services</h2>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit ac lectus integer ac morbi egestas nunc.
                </p>
                <span class="quote">"</span>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit ac lectus integer ac morbi egestas nunc.
                </p>
            </div>
        </div>

        <!-- BLOCO 2 (invertido) -->
        <div class="service-row reverse">
            <div class="service-image">
                <img src="images/service-2.svg" alt="Reception">
            </div>

            <div class="service-content">
                <h2>Reception</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit ac lectus integer ac morbi egestas nunc.
                </p>
                <span class="quote">"</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit ac lectus integer ac morbi egestas nunc.
                </p>
            </div>
        </div>
    </section>

    <app-cards-service></app-cards-service>

    <app-footer></app-footer>  
</div>
