<div class="container">
    <div class="box-background">
        <app-header></app-header>
        <div class="box-add">
            <h3 class="hotel">HOTEL</h3>
            <h3 class="discount">Up to 60% OFF</h3>
            <h4 class="booking">On Hotel Booking Online</h4>
        </div>
        <button class="btn">Booking Now</button>
        <div class="search">
            <div class="input-container">
                <input class="check-in">
                <i><img src="icons/calendar.svg"class="icon"></i>
            </div>
            <div class="input-container">
                <input class="check-out">
                <i><img src="icons/calendar.svg"class="icon"></i>
            </div>
            <div class="input-container">
                <input class="adults">
                <i><img src="icons/adult.svg"class="icon"></i>
            </div>
            <div class="input-container">
                <input class="children">
                <i><img src="icons/child.svg"class="icon-child"></i>
            </div>
            <button class="btn-2">Booking Now</button>
        </div>
    </div>
</div>
