<div class="container">

  <!-- HERO -->
   
  <section class="hero">
    <app-header></app-header>

    <div class="hero-content">
      <h3 class="hotel">HOTEL</h3>
      <h3 class="discount">Up to 60% OFF</h3>
      <h4 class="booking">On Hotel Booking Online</h4>
      <button class="btn-primary">Booking Now</button>
    </div>

    <form class="search">
      <div class="input-group">
        <input placeholder="Check-in">
        <img src="/icons/calendar.svg" alt="">
      </div>

      <div class="input-group">
        <input placeholder="Check-out">
        <img src="/icons/calendar.svg" alt="">
      </div>

      <div class="input-group">
        <input placeholder="Adults">
        <img src="/icons/adult.svg" alt="">
      </div>

      <div class="input-group">
        <input placeholder="Children">
        <img src="/icons/child.svg" alt="">
      </div>

      <button class="btn-secondary">Booking Now</button>
    </form>
  </section>

  <!-- ROOMS -->

  <section class="section">
    <header class="section__title">
      <h3 class="title--blue">Our</h3>
      <h3 class="title--orange">Rooms</h3>
    </header>
    <p class="section-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor viverra parturient diam sagittis nec cras.
    </p>
  </section>

  <app-cards-room [cardList]="cardList"></app-cards-room>

  <app-button-points></app-button-points>

  <section class="hall">
    <img src="images/hall.svg" alt="Hall do hotel" class="hall__image" />
    <img src="icons/play-button.svg" alt="Play video" class="hall__play" />
  </section>

  <!-- SERVICES -->

  <section class="section section--center">
    <header class="section__title">
      <h3 class="title--blue">Our</h3>
      <h3 class="title--orange">Services</h3>
    </header>

    <p class="section__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Tempor viverra parturient diam sagittis nec cras.
    </p>

    <app-services></app-services>
  </section>

  <!-- GALLERY -->
  
  <section class="section">
    <header class="section__title">
      <h3 class="title--blue">Our</h3>
      <h3 class="title--orange">Gallery</h3>
    </header>
    <nav class="nav-gallery">
      <h4 class="item-gallery--active">ALL</h4>
      <h4 class="item-gallery">Room</h4>
      <h4 class="item-gallery">Lobby</h4>
      <h4 class="item-gallery">Reception</h4>
      <h4 class="item-gallery">Dining</h4>
      <h4 class="item-gallery">Pool</h4>
      <h4 class="item-gallery">Spa</h4>
    </nav>
    <div class="gallery">
      <img class="img img--1" src="/images/entrance-hall.svg">
      <img class="img img--2" src="/images/breakfast.svg">
      <img class="img img--3" src="/images/oil.svg">
      <img class="img img--4" src="/images/bedroom.svg">
      <img class="img img--5" src="/images/pool-2.svg">
      <img class="img img--6" src="/images/car.svg">
    </div>
  </section>

   <!-- WHAT PEOPLE SAY -->

  <section class="section section--center">
    <header class="section__title">
      <h3 class="title--blue">What</h3>
      <h3 class="title--orange">People Say</h3>
    </header>

    <p class="section__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Tempor viverra parturient diam sagittis nec cras.
    </p>
  </section>

  <section class="comments">
    <article class="comment-card" *ngFor="let item of cardComment">
      <div class="comment-card__box">
        <p class="comment-card__text">{{ item.comment }}</p>

        <div class="comment-card__stars">
          <i
            class="star"
            *ngFor="let star of item.stars"
            [ngStyle]="{ 'background-image': 'url(' + star.star + ')' }"
          ></i>
        </div>

        <img src="icons/arrow.svg" alt="arrow" class="comment-card__arrow" />
      </div>

      <div
        class="comment-card__avatar"
        [ngStyle]="{ 'background-image': 'url(' + item.picture + ')' }"
      ></div>

      <div class="comment-card__profile">
        <h6 class="profile__name">{{ item.name }}</h6>
        <h6 class="profile__user">{{ item.user }}</h6>
      </div>
    </article>
  </section>

  <app-button-points></app-button-points>> 

  <app-footer></app-footer>

</div>

