<div class="container">

  <app-toast #toast></app-toast>
  
  <section class="my-bookings-hero">
    <app-header></app-header>
    <div class="my-bookings-title">
      <h1>My Bookings</h1>
    </div>
  </section>

  <div>
    <div class="no-bookings"*ngIf="bookings.length === 0">
      No bookings found.
    </div>

    <div *ngIf="isLoading" class="skeleton-list">
      <div class="skeleton-card" *ngFor="let i of [1,2,3]"></div>
    </div>

    <div class="bookings-list">
      <div class="booking-card" *ngFor="let b of bookings">
        <p><strong>Check-in:</strong> {{ b.checkIn }}</p>
        <p><strong>Check-out:</strong> {{ b.checkOut }}</p>
        <p><strong>Adults:</strong> {{ b.adults }}</p>
        <p><strong>Children:</strong> {{ b.children }}</p>
        <p><strong>Total:</strong> ${{ b.total }}</p>
        <button (click)="cancel(b.id)">Cancel</button>
      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="showConfirmModal">
    <div class="modal">

      <h3>Cancel booking?</h3>
      <p>Are you sure you want to cancel this reservation?</p>

      <div class="modal-actions">
        <button class="btn cancel" (click)="closeConfirm()">No</button>
        <button class="btn confirm" (click)="confirmCancel()">Yes, cancel</button>
      </div>
    </div>
  </div>
</div>
