<div class="footer-container">
    <div class="box-hotel">
        <div class="hotel">
            <img src="images/standard.svg" alt="hotel-icon">
            <h6>Hotel</h6>
        </div>
        <p>Lorem ipsum dolor sit amet,<br> consectetur </p>
        <div class="social-media">
            <div class="icons-media">
                <a><img src="icons/instagram.svg" alt="instagram"></a>
            </div>
            <div class="icons-media">
                <a><img src="icons/facebook.svg" alt="youtube"></a>
            </div>
            <div class="icons-media">
                <a><img src="icons/youtube.svg" alt="facebook"></a>
            </div>
            <div class="icons-media">
                <a><img src="icons/x.svg" alt="x"></a>
            </div> 
        </div>
        <input type="email" placeholder="Your email address">
    </div>
    <div class="box-link">
        <h5>Useful Link</h5>
        <h6>Gallery</h6>
        <h6>Blogs</h6>
        <h6>About</h6>
        <h6>Image</h6>
        <h6>Rooms</h6>
    </div>
    <div class="box-services">
        <h5>Services</h5>
        <h6>Restaurant</h6>
        <h6>Coffe Shop</h6>
        <h6>Car Wash</h6>
        <h6>Cicle Rent</h6>
        <h6>Car Rent</h6>

    </div>
    <div class="box-reach">
        <h5>Reach Us</h5>
        <div class="reach">
            <img src="icons/message.svg" alt="email-icon" class="email-icon">
            <h6>6391 Elgin St.</h6>
        </div>
        <div class="reach">
            <img src="icons/mobile.svg" alt="mobile-icon" class="">
            <h6>(239) 555-0108</h6>  
        </div>
        <div class="reach">
            <img src="icons/location.svg" alt="location">
            <h6>6391 Elgin St. Celina, Delaware 10299</h6>  
        </div>
    </div>
</div>
